.siva {
  background-color: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.crvena {
  width: 400px;
  height: 400px;
  background-color: red;
  font-size: 20px;
  color: #fff;
}