/* Hero sekcija */

.hero {
  background: linear-gradient(
    var(--tamna-pozadina) 50%,
    var(--glavna-pozadina) 50%
  );
}

.hero__content {
  width: 94%;
  margin: 0 auto;
  min-height: 70vh;
  background: url(./slike/naslovna.jpg) no-repeat center center/cover fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8%;
  letter-spacing: 5px;
}

.hero--button {
  background-color: #fff;
  width: 18rem;
  height: 7rem;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  transition: background-color 1s linear, color 1.5s ease;
}

.hero--button:hover {
  background-color: var(--tamna-pozadina);
  color: #fff;
}

.hero--title {
  margin-top: 3rem;
  margin-bottom: 9rem;
}

.hero--subtitle {
  order: -1;
  font-size: 1.8rem;
  font-weight: 600;
}

/* Main sekcija */

main {
  width: 94%;
  margin: 0 auto 14rem;
}

/* Search sekcija */

.search {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding: 2.7rem 0;
  font-size: 1.6rem;
}

.search p {
  flex-basis: 17%;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

.search form {
  flex-basis: 83%;
  display: flex;
}

.search form::before {
  content: "\f002";
  font: var(--fa-font-solid);
  color: #fff;
  background-color: var(--tamna-pozadina);
  padding: 3rem;
}

.input__polje {
  flex-basis: 80%;
  padding-left: 2rem;
}

.input__polje::placeholder {
  color: #bbb;
  letter-spacing: 3px;
}

.input__button {
  flex-basis: 20%;
  background-color: var(--tamna-pozadina);
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
  margin-left: 3.5rem;
  cursor: pointer;
  transition: background-color 1s linear, color 1.5s ease;
}

.input__button:hover {
  background-color: #f7f7f7;
  color: var(--tamna-pozadina);
}

/* Kartična sekcija */

.index-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  gap: 3.5rem;
}

.kartica {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #fff;
  border: 1px solid #f8f8f9;
}

.kartica__info {
  text-align: center;
}

.kartica__info p:first-of-type {
  margin-top: 6.5rem;
}

.kartica__info h2 {
  font-size: 2.5rem;
  margin: 2.4rem 0;
}

.kartica__info p {
  font-size: 1.6rem;
  color: var(--sivi-tekst);
}

.kartica__info button {
  margin: 4.5rem 0;
  letter-spacing: 3px;
  font-size: 2.2rem;
  cursor: pointer;
  background: transparent;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
  padding: 2rem;
  transition: background 1s ease;
}

.kartica__info button:hover {
  background: #e3e3e3;
}

.kartica__social {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #f8f8f9;
  font-size: 2rem;
  padding: 3rem 0;
  cursor: pointer;
}

.kartica__social p {
  display: flex;
  gap: 1rem;
}

.kartica--icons {
  display: flex;
  gap: 2rem;
}

.kartica__info .kartica--no--image {
  color: #464646;
  margin-top: 4.5rem;
  letter-spacing: 2px;
  line-height: 2;
  padding: 0 2rem;
}

.tamna-kartica {
  background-color: var(--tamna-pozadina);
}

.tamna-kartica .kartica--no--image {
  color: #fff;
  margin-bottom: 4.5rem;
}
